@import '../../index.scss';

.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: bold;
    width: 100vw;
    height: 80px;
    padding: 0 50px;
    background-color: #494E61;
    .logo {
        height: 17px;
        width: 17px;
        border: 2px solid #7D82F7;
        border-radius: 50%;
    }
    .title { 
        position: relative;
        color: #ffffff;
        font-size: 80%;
        padding: 0 15px;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 110%;
            height: 35px;
            width: 2px;	
            background-color: #757B8F;
        }
    }
}