body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F3F6;
}


.row {
  max-width: 1140px;
  margin: 0 auto;
}

table {
  background: #ffffff;
}
